body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* KATEGORI */
.wrapper {
  border-radius: 30px;
  max-width: 100%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.wrapper .item {
  min-width: 90px;
  line-height: 110px;
  margin-right: 0px;
}

.categori-text{
  font-size: 0.8em;
}

.card-categori{
  background-color: #F2EBE9;
  border-radius: 15px;
}

.card-categori img{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}


