body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER */
.header{
  border-radius: 30px;
}

.menu-left .link-menu{
  text-decoration: none;
  color: black;
}

.menu-left li{
  padding: 10px;
  padding-left: 30px;
  margin-left: -65px;
  width: 150%;
}

.link-profile{
  width: 2000px;
  height: 100%;
  text-decoration: none;
}

.effect:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.effect {
  transition: transform .5s ease;
}

.effect:hover:active {
  transform: scale(0.95);
}
/* CONTENT HOME */
.content{
  border-radius: 30px;
  margin-left:40vh
}

.icon-posts{
  cursor: pointer;
}

.nav-left{
  margin-left: -2vh;
  background: #9BB0A9;
  height: 100vh;
}





.icon {
  outline: none;
  background-color: #f0f0f0;
  width: 25px;
  border: none;
  padding: 0px;
  cursor: pointer;
}


/* STORY */
.wrapper {
  border-radius: 30px;
  max-width: 100%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.wrapper::-webkit-scrollbar {
  width: 0px;      
}

.img-story{
  padding: 2.2px;
  background: rgb(125,147,149);
  background: linear-gradient(39deg, rgba(125,147,149,1) 43%, rgba(0,246,255,1) 61%);
}


.img-story:hover {
  transform: scale(1.1);
}

.img-story {
  transition: transform .5s ease;
}


.wrapper .item {
  min-width: 90px;
  line-height: 110px;
  margin-right: 0px;
}
.story {
  height: 150px;
  margin-left: 400vh;
}

/* EXPLORE */
.img-explore{
border-radius: 20px;
cursor: pointer;
}

.img-hover {
  height: 100%; /* Modify this according to your need */
  /* overflow: hidden; */
}

.img-hover img:hover:active {
  transform: scale(0.95);
}
.img-hover img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover:hover img {
  transform: scale(1.1);
}


/* SETTING */
.menu-setting{
  border-radius: 30px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: transform .5s ease;
}

.menu-setting:hover{
  transform: scale(1.1);
}

.menu-setting:hover:active {
  transform: scale(0.95);
}

/* PROFILE */
.profile .myprofile{
  background-color: #9BB0A9;
  padding: 10px;
}
