body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.colorfont{
  color: #66FCF1 
}

/* KATEGORI */
.wrapper {
  border-radius: 30px;
  max-width: 100%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  
}

/* width */
.wrapper::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.wrapper::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wrapper .item {
  min-width: 90px;
  line-height: 110px;
  margin-right: 0px;
}

.categori-text{
  font-size: 0.8em;
  background-color: red;
}

.card-categori img{
  border-radius: 15px;
}

/* cardproduct */
.card-title{
  font-size: 1em;
}

.card-produk{
  cursor: pointer;
}

.transparentnstroke{
  background: transparent; 
  border: 1px #F8F9FA solid;
  color: #F8F9FA;
}


